[user]
	name = MY_NAME
	email = MY_EMAIL
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[tag]
	gpgsign = true
[filter "lfs"]
	required = false
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[credential]
	helper = osxkeychain
